# Ambiente Virtual
venv/
.venv/
env/

# Banco de dados local SQLite
*.db
frota.db

# Uploads locais de teste
comprovantes/
logos/

# Cache do Python e Streamlit
__pycache__/
*.pyc
# Secrets e variáveis de ambiente
.streamlit/secrets.toml
**/.streamlit/secrets.toml
.env
.env.*